@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: antiquewhite;
  font-size: 24px;
  height: 100vh;
}

header {
  margin-bottom: 20px;
  background-color: white;
  padding: 15px 0 35px 0;
}

header h2 {
  font-family: "Tangerine", sans-serif;
  font-size: 48px;
  margin: 10px 0 0 0;
}

#h2-sub {
  font-size: 16px;
}

#hex:hover, #rgb:hover {
  cursor: pointer;
}

#hex-c, #rgb-c {
  /*visibility: hidden;*/
  border: none;
  background-color: inherit;
  font-size: 16px;
  /*display: none;*/
}

#color-box {
  width: 200px;
  height: 200px;
  background-color: white;
  display: inline-block;
  border-radius: 25px;
  margin: 10px 0;
  /*
  border: 5px dashed black;
  margin: 15px 0 10px 0;
  outline: 4px dashed black;
  outline-offset: 5px;
  -moz-outline-radius: 25px;
  -webkit-outline-radius: 25px;
  */
}

.color-box-wrapper {
  width: 220px;
  height: 220px;
  background-color: antiquewhite;
  display: inline-block;
  border-radius: 25px;
  border: 5px dashed black;
}

.btn {
  width: 150px;
  height: 75px;
  margin: 30px 0 40px 0;
  font-size: 20px;
  border: none;
  background-color: coral;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.75);
}

footer {
  font-size: 16px;
  padding: 20px 0 20px 0;
}

#my-link {
  color: inherit;
  text-decoration: none;
}

#my-link:hover {
  color: coral;
}

/* On screens that are 400px or less */
@media screen and (max-width: 400px) {
  body {
    font-size: 18px;
  }
  header h2 {
    font-size: 38px;
  }
  span#h2-sub {
    font-size: 14px;
  }
  div#color-box {
    width: 150px;
    height: 150px;
  }
  div.color-box-wrapper {
    width: 170px;
    height: 170px;
  }
  button.btn {
    width: 120px;
    height: 55px;
    font-size: 16px;
  }
  footer {
    font-size: 14px;
  }
}
